@import "../_mixins";

.home-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
  .image-wrapper {
    width: inherit;
    height: inherit;
    .image {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  .image-text {
    position: absolute;
    top: 28%;
    left: 10%;
    width: 32rem;
    padding: 2rem;
    border-radius: 3rem;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font-style;
    line-height: 3.2rem;
    font-size: 2.4rem;
    font-style: italic;
    font-weight: bold;
    opacity: 0.8;
    @media (max-width: 1750px) {
      width: 30rem;
      font-size: 2.2rem;
      line-height: 3.1rem;
    }
    @media (max-width: 1550px) {
      width: 27rem;
      font-size: 2rem;
      line-height: 2.9rem;
    }
    @media (max-width: 1450px) {
      width: 26rem;
      font-size: 2rem;
      line-height: 2.7rem;
    }
    @media (max-width: 1300px) {
      width: 23.5rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
    @media (max-width: 1300px) {
      width: 23.5rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }
    @media (max-width: 1100px) {
      width: 21rem;
      font-size: 1.6rem;
      line-height: 2.1rem;
    }
    @media (max-width: 950px) {
      width: 18rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
    @media (max-width: 850px) {
      top: 30%;
      left: 5%;
      width: 16rem;
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
    @media (max-width: 750px) {
      width: 14rem;
      padding: 1.5rem;
      font-size: 1rem;
      line-height: 1.4rem;
    }
    @media (max-width: 650px) {
      width: 12.7rem;
      border-radius: 2.5rem;
      font-size: 0.95rem;
      line-height: 1.1rem;
    }
    @media (max-width: 480px) {
      left: 2%;
      width: 11rem;
      border-radius: 2rem;
      font-size: 0.85rem;
    }
  }
}
